h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.item-panel {
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  padding: 8px;
}
